templates:
  local-template:
    template_name: local-template
    template_path: [[ homedir ]]/Documents/project-template
  my-template:
    template_name: my-template
    template_path: https://example.com/git/example.git
username: [[ username ]]
